{% extends 'layout.html' %}
{% block page_content %}
	<h2>Registration Page</h2>
	<p>Enter your details below to sign up with an account</p>
	<div class="form">
		<form> 
			{{ form.hidden_tag() }}
			<div class="form-group">
				{{ form.first_name.label }}
				{{ form.first_name }}
				{% if error in form.first.name.errors %}
					<div class="error">
						{% for error in form.first_name.errors %}
							<span style='color:red'>{{ error }}</span>
						{% endfor %}
					</div>
				{% endif %}
			</div><br>
			<div class="form-group">
				{{ form.last_name.label }}
				{{ form.last_name }}
				{% if error in form.last_name.errors %}
					<div class="error">
						{% for error in form.last_name.errors %}
							<span style='color:red'>{{ error }}</span>
						{% endfor %}
					</div>
				{% endif %}
			</div><br>
			<div class="form-group">
				{{ form.email.label }}
				{{ form.email }}
				{% if error in form.email.errors %}
					<div class="error">
						{% for error in form.email.errors %}
							<span style='color:red'>{{ error }}</span>
						{% endfor %}
					</div>
				{% endif %}
			</div><br>
			<div class="form-group">
				{{ form.password.label }}
				{{ form.password }}
				{% if error in form.password.errors %}
					<div class="error">
						{% for error in form.password.errors %}
							<span style='color:red'>{{ error }}</span>
						{% endfor %}
					</div>
				{% endif %}
			</div><br>
			<div class="form-group">
				{{ form.confirm_password.label }}
				{{ form.confirm_password }}
				{% if error in form.confirm_password.errors %}
					<div class="error">
						{% for error in form.confirm_password.errors %}
							<span style='color:red'>{{ error }}</span>
						{% endfor %}
					</div>
				{% endif %}
			</div><br>
			<div class="form-group">
				{{ form.submit }}
			</div>
		</form>
	</div>

{% endblock %}