{% extends "layout.html" %}
{% block page_content %}
<h2>Characters Abilities</h2>
<div class="form">
	<form method='POST', action="">
		{{ form.hidden_tag() }}
		<div class="form-group">
			{{ form.skills_number.label }}
			{{ form.skills_number }}
		</div><br>
		<div class="form-group">
			{{ form.magical_abilities.label }}
			{{ form.magical_abilities }}
		</div><br>
		<div class="form-group">
			{{ form.improvements.label }}
			{{ form.improvements }}
		</div><br>
		<div class="form-group">
			{{ form.submit }}
		</div>
	</form>
</div>
{% endblock %}