{% extends "layout.html" %}
{% block page_content %}
	<h2>Characters Appearance</h2>
	<div class="form">
		<form method='POST', action="">
			{{ form.hidden_tag() }}
			<div class="form-group">
				{{ form.eye_colour.label }}
				{{ form.eye_colour }}
				{% if error in form.eye_colour.errors %}
					<div class="error">
						{% for error in form.eye_colour.errors %}
							<span style='color:red'>{{ error }}</span>
						{% endfor %}
					</div>
				{% endif %}
			</div><br>
			<div class="form-group">
				{{ form.scars.label }}
				{{ form.scars }}
			</div><br>
			<div class="form-group">
				{{ form.tattoos.label }}
				{{ form.tattoos }}
			</div><br>
			<div class="form-group">
				{{ form.submit }}
			</div>
		</form>
	</div>
{% endblock %}