{% extends 'layout.html' %}
{% block page_content %}

<div class="form">
	<form method='POST', action="">
		<h3>Appearence</h3>
		{{ form.hidden_tag() }}
		<div class="form-group">
			{{ form.eye_colour.label }}
			{{ form.eye_colour }}
			{% if error in form.eye_colour.errors %}
				<div class="error">
					{% for error in form.eye_colour.errors %}
						<span style='color:red'>{{ error }}</span>
					{% endfor %}
				</div>
			{% endif %}
		</div><br>
		<div class="form-group">
			{{ form.scars.label }}
			{{ form.scars }}
		</div><br>
		<div class="form-group">
			{{ form.tattoos.label }}
			{{ form.tattoos }}
		</div><br>
		<h3>Personality</h3>
	    <div class="form-group">
	      {{ form.pet_peeves.label }}
	      {{ form.pet_peeves }}
	    </div><br>
	    <div class="form-group">
	      {{ form.hobbies.label }}
	      {{ form.hobbies }}
	    </div><br>
	    <div class="form-group">
	      <!-- give an expliation to each alignment -->
	      {{ form.alignment.label }}
	      {{ form.alignment }}
	    </div><br>
	    <div class="form-group">
	      {{ form.accent.label }}
	      {{ form.accent }}
	    </div><br>
	    <div class="form-group">
	      {{ form.passionate.label }}
	      {{ form.passionate }}
	    </div><br>
	    <div class="form-group">
	      {{ form.earlybird_nightowl.label }}
	      {{ form.earlybird_nightowl }}
	    </div><br>
	    <div class="form-group">
	      {{ form.favourite_meal.label }}
	      {{ form.favourite_meal }}
	    </div><br>
	    <div class="form-group">
	      {{ form.goals.label }}
	      {{ form.goals }}
	    </div><br>
	    <div class="form-group">
	      {{ form.music_genre.label }}
	      {{ form.music_genre }}
	    </div><br>
	    <div class="form-group">
	      {{ form.cat_person.label }}
	      {{ form.cat_person }}
	    </div><br>
	    <div class="form-group">
	      {{ form.dog_person.label }}
	      {{ form.dog_person }}
	    </div><br>
	    <div class="form-group">
	      {{ form.romantic_relationship_ideals.label }}
	      {{ form.romantic_relationship_ideals }}
	    </div><br>
	    <div class="form-group">
	      {{ form.partial_birthday_celebration.label }}
	      {{ form.partial_birthday_celebration }}
	    </div><br>
	    <div class="form-group">
	      {{ form.easy_appologiser.label }}
	      {{ form.easy_appologiser }}      
	    </div><br>
	    <div class="form-group">
	      {{ form.bullied.label }}
	      {{ form.bullied }}
	    </div><br>
	    <div class="form-group">
	      {{ form.smarts.label }}
	      {{ form.smarts }}
	    </div><br>
	    <div class="form-group">
	      {{ form.country.label }}
	      {{ form.country }}
	    </div><br>
	    <div class="form-group">
	      {{ form.book_worm.label }}
	      {{ form.book_worm }}
	    </div><br>
	    <div class="form-group">
	      {{ form.fears.label }}
	      {{ form.fears }}
	    </div><br>
		<h3>Details</h3>
		<div class="form-group">
			{{ form.address.label }}
			{{ form.address }}
		</div><br>
		<div class="form-group">
			{{ form.gender.label }}
			{{ form.gender }}
		</div><br>
		<div class="form-group">
			{{ form.birthday.label }}
			{{ form.birthday }}
		</div><br>
		<div class="form-group">
			{{ form.health_issues.label }}
			{{ form.health_issues }}
		</div><br>
		<div class="form-group">
			{{ form.mother.label }}
			{{ form.mother }}
		</div><br>
		<div class="form-group">
			{{ form.father.label }}
			{{ form.father }}
		</div><br>
		<div class="form-group">
			{{ form.relationships.label }}
			{{ form.relationships }}
		</div><br>
		<h3>Abilities</h3>
		<div class="form-group">
			{{ form.skills_number.label }}
			{{ form.skills_number }}
		</div><br>
		<div class="form-group">
			{{ form.magical_abilities.label }}
			{{ form.magical_abilities }}
		</div><br>
		<div class="form-group">
			{{ form.improvements.label }}
			{{ form.improvements }}
		</div>	
		<div class="form-group">
			{{ form.submit }}
		</div>
	</form>
</div>

{% endblock %}