{% extends 'layout.html' %}
{% block page_content %}

<div class="form">
	<form method='POST', action="">
		<h3>Appearence</h3>
		{{ form.hidden_tag() }}
		<div class="form-group">
			{{ form.eye_colour.label }}
			<p style='color:grey'>{{ file.eye_colour }}</p>
			<p>{{ form.eye_colour }}</p>
			{% if error in form.eye_colour.errors %}
				<div class="error">
					{% for error in form.eye_colour.errors %}
						<span style='color:red'>{{ error }}</span>
					{% endfor %}
				</div>
			{% endif %}

		<h3>Personality</h3>

	    <div class="form-group">
	      	{{ form.pet_peeves.label }}
	      	<p style='color:grey'> Current answer: {{ file.pet_peeves }}</p>
	      	<p>{{ form.pet_peeves }}</p>
	      	{% if error in form.pet_peeves.errors %}
				<div class="error">
					{% for error in form.pet_peeves.errors %}
						<span style='color:red'>{{ error }}</span>
					{% endfor %}
				</div>
			{% endif %}
	    </div><br>
	    <div class="form-group">
	      	{{ form.hobbies.label }}
	      	<p style='color:grey'> Current answer: {{ file.hobbies }}</p>
	      	<p>{{ form.hobbies }}</p>
	      	{% if error in form.pet_peeves.errors %}
				<div class="error">
					{% for error in form.pet_peeves.errors %}
						<span style='color:red'>{{ error }}</span>
					{% endfor %}
				</div>
			{% endif %}
	    </div><br>
	    <div class="form-group">
	      	<!-- give an expliation to each alignment -->
	      	<p style='color:black'>Alignment Menu</p>
	      	<p style='color:teal'>Lawful Good - I want to do the right thing, and follow society's rules in the best way possible</p>
	      	<p style='color:green'>Neutral Good - I want to do what's right, and I am willing to break the rules as long as no one gets hurt</p>
	      	<p style='color:purple'>Chaotic Good - I'm willing to do whatever it takes as long as it's to do the right thing</p>
	      	<p style='color:pink'>Lawful Neutral - Following the rules of society is the most important thing, and that matters more to me than doing what's right</p>
	      	<p style='color:orange'>True Neutral - I just want myself and the people I care about to be happy</p>
	      	<p style='color:#FFD200'>Chaotic Neutral - I want my freedom, and i don't care what i have to do to keep it </p>
	      	<p style='color:lightgrey'>Lawful Evil - To impede the protagonists (in whatever evil way) is my primary goal, but I follow my own code of morals even when it's inconvenient</p>
	      	<p style='color:blue'>Neutral Evil - To impede the protagonist (in whatever evil way) is my primary goal, and while I'll do what it takes to achieve it, I also won't go out of my way to do unnecessary damage</p>
	      	<p style='color:red'>Chaotic Evil - i relish in destruction and want to do as much damage as possible while i try to achievemy primary goal</p>
	      	{{ form.alignment.label }}
	      	<p style='color:grey'> Current answer: {{ file.alignment }}</p>
	      	<p>{{ form.alignment }}</p>
	      	{% if error in form.alignment.errors %}
				<div class="error">
					{% for error in form.alignement.errors %}
						<span style='color:red'>{{ error }}</span>
					{% endfor %}
				</div>
			{% endif %}
	    </div><br>
	    <div class="form-group">
	      	{{ form.accent.label }}
	      	<p style='color:grey'> Current answer: {{ file.accent }}</p>
	      	<p>{{ form.accent }}</p>
	      	{% if error in form.accent.errors %}
				<div class="error">
					{% for error in form.accent.errors %}
						<span style='color:red'>{{ error }}</span>
					{% endfor %}
				</div>
			{% endif %}
	    </div><br>
	    <div class="form-group">
	      	{{ form.passionate.label }}
	      	<p style='color:grey'> Current answer: {{ file.passionate }}</p>
	      	<p>{{ form.passionate }}</p>
	      	{% if error in form.passionate.errors %}
				<div class="error">
					{% for error in form.passionate.errors %}
						<span style='color:red'>{{ error }}</span>
					{% endfor %}
				</div>
			{% endif %}
	    </div><br>
	    <div class="form-group">
	      	{{ form.earlybird_nightowl.label }}
	      	<p style='color:grey'> Current answer: {{ file.earlybird_nightowl }}</p>
	      	<p>{{ form.earlybird_nightowl }}</p>
	      	{% if error in form.earlybird_nightowl.errors %}
				<div class="error">
					{% for error in form.earlybird_nightowl.errors %}
						<span style='color:red'>{{ error }}</span>
					{% endfor %}
				</div>
			{% endif %}
	    </div><br>
	    <div class="form-group">
	      	{{ form.favourite_meal.label }}
	      	<p style='color:grey'> Current answer: {{ file.favourite_meal }}</p>
	      	<p>{{ form.favourite_meal }}</p>
	      	{% if error in form.favourite_meal.errors %}
				<div class="error">
					{% for error in form.favourite_meal.errors %}
						<span style='color:red'>{{ error }}</span>
					{% endfor %}
				</div>
			{% endif %}
	    </div><br>
	    <div class="form-group">
	      	{{ form.goals.label }}
	      	<p style='color:grey'> Current answer: {{ file.goals }}</p>
	      	<p>{{ form.goals }}</p>
	      	{% if error in form.goals.errors %}
				<div class="error">
					{% for error in form.goals.errors %}
						<span style='color:red'>{{ error }}</span>
					{% endfor %}
				</div>
			{% endif %}
	    </div><br>
	    <div class="form-group">
	      	{{ form.music_genre.label }}
	      	<p style='color:grey'> Current answer: {{ file.music_genre }}</p>
	      	<p>{{ form.music_genre }}</p>
	      	{% if error in form.music_genre.errors %}
				<div class="error">
					{% for error in form.music_genre.errors %}
						<span style='color:red'>{{ error }}</span>
					{% endfor %}
				</div>
			{% endif %}
	    </div><br>
	    <div class="form-group">
	      	{{ form.cat_person.label }}
	      	<p style='color:grey'> Current answer: {{ file.cat_person }}</p>
	      	<p>{{ form.cat_person }}</p>
	    </div><br>
	    <div class="form-group">
	      	{{ form.dog_person.label }}
	      	<p style='color:grey'> Current answer: {{ file.dog_person }}</p>
	      	<p>{{ form.dog_person }}</p>
	    </div><br>
	    <div class="form-group">
	      	{{ form.romantic_relationship_ideals.label }}
	      	<p style='color:grey'> Current answer: {{ file.romantic_relationship_ideals }}</p>
	      	<p>{{ form.romantic_relationship_ideals }}</p>
	      	{% if error in form.romantic_relationship_ideals.errors %}
				<div class="error">
					{% for error in form.romantic_relationship_ideals.errors %}
						<span style='color:red'>{{ error }}</span>
					{% endfor %}
				</div>
			{% endif %}
	    </div><br>
	    <div class="form-group">
	      	{{ form.partial_birthday_celebration.label }}
	      	<p style='color:grey'> Current answer: {{ file.partial_birthday_celebration }}</p>
	      	<p>{{ form.partial_birthday_celebration }}</p>
	    </div><br>
	    <div class="form-group">
	      	{{ form.easy_appologiser.label }}
	      	<p style='color:grey'> Current answer: {{ file.easy_appologiser }}</p>
	      	<p>{{ form.easy_appologiser }}</p>      
	    </div><br>
	    <div class="form-group">
	      	{{ form.bullied.label }}
	      	<p style='color:grey'> Current answer: {{ file.bullied }}</p>
	      	<p>{{ form.bullied }}</p>
	    </div><br>
	    <div class="form-group">
	      	{{ form.smarts.label }}
	      	<p style='color:grey'> Current answer: {{ file.smarts }}</p>
	      	<p>{{ form.smarts }}</p>
	    </div><br>
	    <div class="form-group">
	      	{{ form.country.label }}
	      	<p style='color:grey'> Current answer: {{ file.country }}</p>
	      	<p>{{ form.country }}</p>
	      	{% if error in form.country.errors %}
				<div class="error">
					{% for error in form.country.errors %}
						<span style='color:red'>{{ error }}</span>
					{% endfor %}
				</div>
			{% endif %}
	    </div><br>
	    <div class="form-group">
	      	{{ form.book_worm.label }}
	      	<p style='color:grey'> Current answer: {{ file.book_worm }}</p>
	      	<p>{{ form.book_worm }}</p>
	    </div><br>
	    <div class="form-group">
	      	{{ form.fears.label }}
	      	<p style='color:grey'> Current answer: {{ file.fears }}</p>
	      	<p>{{ form.fears }}</p>
	      	{% if error in form.fears.errors %}
				<div class="error">
					{% for error in form.fears.errors %}
						<span style='color:red'>{{ error }}</span>
					{% endfor %}
				</div>
			{% endif %}
	    </div><br>


		<h3>Details</h3>
	

		<div class="form-group">
			{{ form.address.label }}
			<p style='color:grey'> Current answer: {{ file.address }}</p>
			<p>{{ form.address }}</p>
		</div><br>
		<div class="form-group">
			{{ form.gender.label }}
			<p style='color:grey'> Current answer: {{ file.gender }}</p>
			<p>{{ form.gender }}</p>
		</div><br>
		<div class="form-group">
			{{ form.birthday.label }}
			<p style='color:grey'> Current answer: {{ file.birthday }}</p>
			<p><input type="date" name="birthday"></p>
				{% if form.birthday.errors %}
				<div class="error">
					{% for error in errors %}
					<span style='color:red'>{{ error }}</span>
					{% endfor %}
				</div>
				{% endif %}
		</div><br>
		<div class="form-group">
			{{ form.health_issues.label }}
			<p style='color:grey'> Current answer: {{ file.health_issues }}</p>
			<p>{{ form.health_issues }}</p>
			{% if error in form.health_issues.errors %}
				<div class="error">
					{% for error in form.health_issues.errors %}
						<span style='color:red'>{{ error }}</span>
					{% endfor %}
				</div>
			{% endif %}
		</div><br>
		<div class="form-group">
			{{ form.mother.label }}
			<p style='color:grey'> Current answer: {{ file.mother }}</p>
			<p>{{ form.mother }}</p>
		</div><br>
		<div class="form-group">
			{{ form.father.label }}
			<p style='color:grey'> Current answer: {{ file.father }}</p>
			<p>{{ form.father }}</p>
		</div><br>
		<div class="form-group">
			{{ form.relationships.label }}
			<p style='color:grey'> Current answer: {{ file.relationships }}</p>
			<p>{{ form.relationships }}</p>
		</div><br>


		<h3>Abilities</h3>
		

		<div class="form-group">
			{{ form.skills_number.label }}
			<p style='color:grey'> Current answer: {{ file.skills_number }}</p>
			<p>{{ form.skills_number }}</p>
			{% if error in form.skills_number.errors %}
				<div class="error">
					{% for error in form.skills_number.errors %}
						<span style='color:red'>{{ error }}</span>
					{% endfor %}
				</div>
			{% endif %}
		</div><br>
		<div class="form-group">
			{{ form.magical_abilities.label }}
			<p style='color:grey'> Current answer: {{ file.magical_abilities }}</p>
			<p>{{ form.magical_abilities }}</p>
		</div><br>
		<div class="form-group">
			{{ form.improvements.label }}
			<p style='color:grey'> Current answer: {{ file.improvements }}</p>
			<p>{{ form.improvements }}</p>
			{% if error in form.improvements.errors %}
				<div class="error">
					{% for error in form.improvements.errors %}
						<span style='color:red'>{{ error }}</span>
					{% endfor %}
				</div>
			{% endif %}
		</div>	
		<div class="form-group">
			{{ form.submit }}
		</div>
	</form>
</div>

{% endblock %}