<!DOCTYPE html>
<html>
<head>
	<title>Character Sheet Generator</title>
	<title>{{ title }} - Page</title>
</head>
<body>	
	<div class='navbar'>
		{% if current_user. is_authenticated %}
			<a href='/'>Home</a>
			<a href='/account'>Account</a>
			<a href='/about'>About Us</a>
			<a href='/account/createfile'>Create Character Sheet</a>

		{% else %}
			<a href='/'>Home</a>
			<a href='/login'>Login</a>
			<a href='/about'>About us</a>
			<a href='/register'>Register</a>
			<!-- add links here when decided!!!-->

		{% endif %}
	</div>
	<div align="center">
		<h1>Character Sheet Generator</h1>
	</div>
	<div><p>
		{% block greeting %}{% endblock greeting %}
	</p></div>
	<div><p>
		{% block navbar_content %}{% endblock navbar_content %}
	</p></div>
	{% block page_content %}{% endblock page_content %}
</body>	
</html>