{% extends "layout.html" %}
{% block page_content %}
	<h2>Login Page</h2>
	<p>Enter your login details below:</p>
	<div class='form'>
		<form method='POST', action="">
			{{ form.hidden_tag() }}
			<div class="form-group">
				{{ form.email.label }}
				{{ form.email }}
				{% if error in form.email.errors %}
				<div class="error">
					{% for error in errors %}
						<span style="color:red">{{ error }}</span>
					{% endfor %}
				</div>
				{% endif %}
			</div><br>
			<div class="form-group">
				{{ form.password.label }}
				{{ form.password }}
				{% if error in form.password.errors %}
				<div class="error">
					{% for error in errors %}
						<span style="color:red">{{ error }}</span>
					{% endfor %}
				</div>
				{% endif %}
			</div><br>
			<div class="form-group">
				{{ form.remember.label }}
				{{ form.remember }}
			</div><br>
			<div class="form-group">
				{{ form.submit }}
			</div>
		</form>
	</div>
{% endblock %}